{% block body %}
<br />
<p>The Multi-Template Ladder (or MTL) is a 1v1 ladder similar to the other ladders on
    Warzone. Unlike the 1v1 ladder on Warzone, this ladder utilizes {{templates|length}}
    of Warzone's most popular strategic templates. </p>
<br />
<p>Once you join the ladder you will be able to veto up to 7 templates that you would
    prefer not to play games on.</p>
<br />
<p>All games honor vacations and have a 3 day auto-boot. It checks results and allocates
    new games every two hours.</p>
<br />
<p>If you notice errors on any template or find bugs on the site, please contact
    <a href="https://www.warlight.net/Profile?p=2428496679">Deadman</a> or
    <a href="https://www.warzone.com/Profile?p=314032996">Beren Erchamion</a></p>
{% endblock %}